.Todoitem {
    font-family: 'Helvetica Neue',Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #4d4d4d;
    display: flex;
    border-bottom: 2px solid #bebebe;
    
}
.Todoitem > img {
    margin-left: 10px;
}

.Todoitem > p {
    margin: 0 0 0 30px;
    padding: 10px 5px;
    
    
}
.Todoitem-complete {
    text-decoration: line-through;
    opacity: .3;
}